@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --track: lightgray;
  --sliderthumb: dimgray;
  --thumbboxshadow: -3000px 0 0 3000px gray;
  --height: 24px;
  --thumbheight: 24px;
  --thumbwidth: 24px;
  /*--sliderborder: 3px solid red;*/
  --sliderborder: 0;
}

input[type='range'] {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: var(--height);
  width: 100%;
  cursor: pointer;
  border-radius: 0;
}

::-webkit-slider-runnable-track {
  background: var(--track);
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumbwidth);
  height: var(--thumbheight);
  background: var(--sliderthumb);
  box-shadow: var(--thumbboxshadow);
  border: var(--sliderborder);
}

::-moz-range-track {
  height: var(--trackheight);
  background: var(--track);
}

::-moz-range-thumb {
  background: var(--sliderthumb);
  height: var(--thumbheight);
  width: var(--thumbwidth);
  border: var(--sliderborder) 9;
  border-radius: 0 !important;
  box-shadow: var(--thumbboxshadow);
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: var(--sliderthumb);
}

::-ms-thumb {
  background: var(--sliderthumb);
  border: var(--sliderborder) 9;
  height: var(--thumbheight);
  width: var(--thumbwidth);
  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: var(--track);
  color: transparent;
  height: var(--height);
  border: none;
}

::-ms-tooltip {
  display: none;
}
